.input-box {
    -fx-background-color: #212121;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #00ffc4;
    -fx-text-fill: white;
}
.close-button:hover {
    -fx-background-color: #262626;
}
.ok-button {
    -fx-background-color: #00ff73;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.ok-button:hover {
    -fx-effect: dropshadow(three-pass-box, #00ff48, 19.65, 0.0, 0.0, 0.0);
}
