@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
    src: url('../fonts/Roboto-BoldItalic.ttf');
}
.root {
    -fx-font-family: 'Roboto';
    -fx-background-color: #121411;
}
.minimize-button:hover,
.close-button:hover {
    -fx-background-color: #232323;
    -fx-cursor: hand;
}

.checkbox .box {
    -fx-background-color: transparent;
    -fx-border-color: #00ad89;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-pref-width: 17px;
    -fx-pref-height: 17px;
}
.checkbox:selected .mark {
    -fx-background-color: #00ad89;
}
.browser-field {
    -fx-background-color: #151515;
    -fx-border-color: #00ad89;
    -fx-border-width: 0 0 2px 0;
    -fx-text-fill: white;
}
.location-input-field, .browse-button {
    -fx-background-color: #3f3f3f;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-background-radius: 30px;
}
.location-input-field {
    -fx-font-weight: 600;
    -fx-padding: 0 0 0 15px;
}
.progress-indication-wrapper {
    -fx-border-style: solid;
    -fx-border-color: #4d4d4d;
    -fx-border-width: 0 1px 0 0;
}
.update-button {
    -fx-background-color: #00ff73;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-radius: 30px;
}


.progress {
    -fx-progress-color: #00ad89;
    visibility: hidden;
}
.complete-checkbox {

}
.complete-checkbox .box {
    -fx-background-radius: 50%;
    -fx-background-color: #00ad89;
    -fx-border-color: transparent;
    -fx-pref-width: 13px;
    -fx-pref-height: 13px;
}
.complete-checkbox:selected .mark {
    -fx-background-color: white;
}